services:
  backend:
    container_name: nutrition_be
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DB_HOST: postgres
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - app-network

  postgres:
    image: postgres:14-alpine
    container_name: asd_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME} # match backend env
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - asd-postgres:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  asd-postgres:

networks:
  app-network:
    driver: bridge
